<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
	<meta property="og:title" content="E.L.S CRAFTSMAN STUDIO">
	<meta property="og:url" content="index.html">
	<meta property="og:image" content="img/font_share_link.png" style="background-color: black;">
	<meta property="og:description" content="une agence de communications specialisée dans le domaine multimedia Pour vous offrir nos meilleurs services d'une manière profesionnelle et agréable en respectant toutes les normes.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>E.L.S CRAFTSMAN STUDIO</title>
    <link rel="icon" type="image/x-icon" href="img/logo copie.ico">

</head>
<body id="app">
    <div class="all">
        <div class="menu_list_elements">
            <div class="container_menu_list">
                <a href="" @click="goToAccueil" class="nav_link" v-bind:class=" {active: showAccueil}">ACCUEIL</a>
                <a href="#" @click="goToBebe" class="nav_link" v-bind:class=" {active: showBebe}">BÉBÉS</a>
                <a href="#" @click="goToCouple" class="nav_link" v-bind:class=" {active: showCouple}">COUPLES</a>
                <a href="#" @click="goToHomme" class="nav_link" v-bind:class=" {active: showHomme}">HOMMES</a>
                <a href="#" @click="goToFemme" class="nav_link" v-bind:class=" {active: showFemme}">FEMMES</a>
                <a href="#" @click="goToNoel" class="nav_link" v-bind:class=" {active: showNoel}">NOËL</a>
                <a href="#" @click="goToMariage" class="nav_link" v-bind:class=" {active: showMariage}">MARIAGES</a>
                <a href="#" @click="goToAnniversaire" class="nav_link" v-bind:class=" {active: showAnniversaire}">ANNIVERSAIRES</a>
                <a href="#" @click="goToAbout" class="nav_link" v-bind:class=" {active: showAbout}">À PROPOS</a>
                <a href="#"  @click="goToRdv" id="nav_link" class="nav_link" v-bind:class=" {active: showRdv}">PRENDRE RENDEZ-VOUS</a>
                <a href="#"  @click="goToRdv" id="nav_links" class="nav_link" v-bind:class=" {active: showRdv}">PRENDRE RENDEZ-VOUS</a>
                <div class="contacts">
                        <a href="mailto:eliezerefoyaefy2018@gmail.com">- Par mail</a>
                        <a href="tel:+18197758500">- Par appel</a>
                </div>
                <p class="name_list">E.L.S CRAFTSMAN <span>STUDIO</span></p>
            </div>
        </div>
        <header>
            <div class="header">
                <div class="container_nav_bar">
                    <img src="img/logo.png" alt="Logo" srcset="">
                    <p class="menu_no_select"><a href="#">MENU</a></p>
                    <p class="select_menu"><a style="color: orange;" href="#">MENU</a></p>
                    <p class="name">E.L.S CRAFTSMAN <span>STUDIO</span></p>
                </div>
            </div>
        </header>
        <div class="menu_classic_elements">
            <div class="container_menu_classic">
                <a href="" @click="goToAccueil" id="o" class="nav_links" v-bind:class=" {active: showAccueil}">ACCUEIL</a>
                <a href="#" @click="goToBebe" id="o" class="nav_links" v-bind:class=" {active: showBebe}">BÉBÉS</a>
                <a href="#" @click="goToCouple" id="o" class="nav_links" v-bind:class=" {active: showCouple}">COUPLES</a>
                <a href="#" @click="goToHomme" id="o" class="nav_links" v-bind:class=" {active: showHomme}">HOMMES</a>
                <a href="#" @click="goToFemme" id="o" class="nav_links" v-bind:class=" {active: showFemme}">FEMMES</a>
                <a href="#" @click="goToNoel" id="o" class="nav_links" v-bind:class=" {active: showNoel}">NOËL</a>
                <a href="#" @click="goToMariage" id="o" class="nav_links" v-bind:class=" {active: showMariage}">MARIAGES</a>
                <a href="#" @click="goToAnniversaire" id="o" class="nav_links" v-bind:class=" {active: showAnniversaire}">ANNIVERSAIRES</a>
                <a href="#" @click="goToAbout" id="o" class="nav_links" v-bind:class=" {active: showAbout}">À PROPOS</a>
                <a href="#"  @click="goToRdv" id="nav_link_classic" id="o" class="nav_links" v-bind:class=" {active: showRdv}">PRENDRE RENDEZ-VOUS</a>
                <a href="#"  @click="goToRdv" id="nav_links_classic" id="o" class="nav_links" v-bind:class=" {active: showRdv}">PRENDRE RENDEZ-VOUS</a>
            </div>
        </div>
        <div class="contacts_menu_classic">
            <a href="mailto:salomonedoka114@gmail.com">- Par mail</a>
            <a href="tel:+243852410091">- Par appel</a>
        </div>
        <footer >
            <div class="footer">
                <div class="container_footer">
                    <i class="container">
                    <a href="http://instagram.com" class="bi bi-instagram">

                    </a>
                </i>
                    <p><img src="img/c-circle.svg" alt="" srcset="">{{year}} e.l.s craftsman studio.</p>
                </div>
            </div>
        </footer>
        <div class="main_all">
            <main v-if="showAccueil">
                        <div class="main_carousel">
                            <!-- <img class="" src="" alt="" srcset=""> -->
                            <img class="carousel menu_active" src="img_1/ELS_4726.jpg" alt="" srcset="">
                            <img class="carousel" src="img_1/ELS_3735.jpg" alt="" srcset="">
                            <img class="carousel " src="img_1/ELS_4875.jpg" alt="" srcset="">
                            <!-- <img class="" src="" alt="" srcset=""> -->

                        </div>
            </main>
        </div>
        <!-- ======= bebe ======= -->
        <div class="bebe" v-if="showBebe">
            <div class="container_bebe">
                <div class="bloc_un">
                    <a href="#" class="img_bloc_un_un">
                        <img src="img_1/ELS_3735.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="#" class="img_bloc_un_deux">
                        <img src="img_1/ELS_3737.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                   
                </div>
                <!-- <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
        <!-- ======= and bebe ======= -->

        <!-- ======= couple ======= -->
        <!-- <div class="bebe" v-if="showCouple">
            <div class="container_bebe">
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
            </div>
        </div> -->
        <!-- ======= and couple ======= -->

        <!-- ======= hommes ======= -->
        <div class="bebe" v-if="showHomme">
            <div class="container_bebe">
                <div class="bloc_un">
                    <a href="#" class="img_bloc_un_un">
                        <img src="img_1/ELS_4883.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="#" class="img_bloc_un_deux">
                        <img src="img_1/ELS_4875.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="#" class="img_bloc_un_trois">
                        <img src="img_1/ELS_4869.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <!-- <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
        <!-- ======= and hommes ======= -->

        <!-- ======= femmes ======= -->
        <div class="bebe" v-if="showFemme">
            <div class="container_bebe">
                <div class="bloc_un">
                    <a href="#" class="img_bloc_un_un">
                        <img src="img_1/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="#" class="img_bloc_un_deux">
                        <img src="img_1/ELS_4147.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="#" class="img_bloc_un_trois">
                        <img src="img_1/ELS_3688.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img_1/ELS_4726.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img_1/ELS_4154.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img_1/ELS_4156.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img_1/ELS_3682.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img_1/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img_1/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img_1/ELS_4725;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- ======= and femmes ======= -->

        <!-- ======= noel ======= -->
        <!-- <div class="bebe" v-if="showNoel">
            <div class="container_bebe">
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
            </div>
        </div> -->
        <!-- ======= and noel ======= -->

        <!-- ======= mariage ======= -->
        <!-- <div class="bebe" v-if="showMariage">
            <div class="container_bebe">
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
            </div>
        </div> -->
        <!-- ======= and mariage ======= -->

        <!-- ======= anniversaire ======= -->
        <!-- <div class="bebe" v-if="showAnniversaire">
            <div class="container_bebe">
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_un">
                    <a href="img/ELS_4207.jpg" class="img_bloc_un_un">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_deux">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_un_trois">
                        <img src="img/ELS_4208.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
                <div class="bloc_deux">
                    <a href="" class="img_bloc_deux_un">
                        <img src="img/ELS_4247;.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                    <a href="" class="img_bloc_deux_deux">
                        <img src="img/ELS_4207.jpg" >
                        <div>
                            <h1>EXPRESSIVE</h2>
                            <P>Un moyen de lire les expressions save the moment</P>
                        </div>
                    </a>
                </div>
            </div>
        </div> -->
        <!-- ======= and anniversaire ======= -->

        <!-- ======= a propos ======= -->
        <div class="apropos_header" v-if="showAbout">
            <div class="container_apropos">
                <div class="apropos">
                    <img src="img/logo.png" >
                    
                    <div class="dsc_apropos">
                        <p>
                            Nous sommes une agence de communications
                            specialisée dans le domaine multimedia 
                            Pour vous offrir nos meilleurs services d'une manière profesionnelle et agréable en respectant toutes les normes.
                            Nous sommes à Kinshasa RD CONGO, AV: BARAKA, N° 25, Q/LIBULU, C/ BARUMBU
                        </p>
                        <h1>NOS SERVICES</h1>
                        <div class="list_services">
                            <ol>
                                <div class="">
                                    <li><h2>PHOTOGRAPHIE</h2></li>
                                    <ul>
                                        <li>CASTING</li>
                                        <li>REPORTAGE</li>
                                        <li>WEEDING</li>
                                        <li>BABY SHOWER</li>
                                        <li>PASSEPORT...</li>
                                    </ul>
                                </div>
                                <div class="">
                                    <li><h2>VIDÉO GRAPHIE</h2></li>
                                    <ul>
                                        <li>CLIPS</li>
                                        <li>COVER</li>
                                        <li>SPOT PUB</li>
                                        <li>REPORTAGE</li>
                                        <li>ENREGISTREMENT</li>
                                    </ul>
                                </div>
                                <div class="">
                                    <li><h2>GRAPHISME</h2></li>
                                    <ul>
                                        <li>CONCEPTION GRAPHIQUE</li>
                                        <li>CRÉATION DES LOGOS ET CHARTE GRAPHIQUE</li>
                                        <li>BRAND DESIGN</li>
                                        <li>MOTION DESIGN</li>
                                    </ul>
                                </div>
                            </ol>
                        </div>
                        <h1>FORMATIONS</h1>
                        <div class="list_services">
                            <ol>
                                
                                <div class="">
                                    <ul>
                                        <li>PRISE DE VUE</li>
                                        <li> INFOGRAPHIE</li>
                                    </ul>
                                </div>
                            </ol>
                        </div>
                        <h1>CREATION SITE WEB</h1>
                        <div class="list_services">
                            <ol>
                                
                                <div class="">
                                    <ul>
                                        <li>SITE WEB VITRINE</li>
                                        <li> INFOGRAPHIE</li>
                                    </ul>
                                </div>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======= and a propos ======= -->

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>